# Badoo bot (local / systemd)

BADOO_BOT_HOST=0.0.0.0
BADOO_BOT_PORT=8602
ORCHESTRATOR_URL=http://127.0.0.1:8000

# First login: false + DISPLAY/noVNC, then true
BADOO_HEADLESS=false
BADOO_USER_DATA_DIR=./chrome-profile
BADOO_LOGIN_WAIT_SEC=600
BADOO_LOGIN_URL=https://badoo.com/en/signin/

BADOO_POLL_ENABLED=false
BADOO_AUTO_SEND=false

BADOO_GEOLOCATION_ENABLED=true
BADOO_GEOLOCATION_LAT=48.1486
BADOO_GEOLOCATION_LON=17.1077
